contents/code/*.so
!contents/code/libbatteryplugin.so
contents/code/*.o
contents/code/moc_*
contents/code/Makefile
contents/code/.qmake.stash
contents/code/*.moc
contents/code/plugins.qmltypes
contents/code/*_metatypes.json
contents/code/*_qmltyperegistrations.cpp
contents/code/moc_predefs.h

# maintainer notes — not for public repo
INFO.md
